body {
  margin: 0;
}

.row {
  display: flex;
  margin-top: -31px;
}
.row:nth-child(even) {
  margin-left: 56px;
}

.hidden {
  visibility: hidden;
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
